{{define: "Index"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Para teste</title>
</head>
<body>
    <h1>Site exclusivo para testar as bibliotecas de Golang</h1><br>
    <table>
        <thead>
            <tr>Nome completo:</tr>
            <tr>Data de Nascimento:</tr>
            <tr>CPF:</tr>
            <tr>Endereço:</tr>
        </thead>
        <tbody>
            <tr>João Silva</tr>
            <tr>10/05/2020</tr>
            <tr>145.234.231-90</tr>
            <tr>Rua Lisboa, n: 10</tr>
        </tbody>
    </table>
</body>
</html>

{{end}}